.nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
   
}
.nav h1{
    color:blueviolet;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
    font-size: 40px;
}
.nav h1 a{
    text-decoration: none;
}
.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    
    padding: 0;
}
.menuType{
    margin-right: 1%;
}
.nav ul li{
    padding-left: 15px;
    padding-top: 15px;
}
.nav ul li a{
    text-decoration: none;
    color:blueviolet;
   cursor: pointer;
}
.nav .nav-search{
    margin-top: 5px;
    display: flex;
    flex: 0.5;
    margin-left: 5%;;
}
.nav .nav-search input{
    flex:1;
    height: 30px;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-right: 0;
}
.nav .nav-search button{
    height: 33.5px;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-left: 0;
    cursor: pointer;
}
.logo {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #ff8c00, #8a2be2); 
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.logo span {
    color: #ff8c00;
}
