<div class="checkout">
    <h1>Checkout</h1>
    <div class="row">
        <div class="col-sm-7">
            <div class="form-container">
                <h3>Add shipping address</h3>
                <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
                    <input class="form-input" type="email" placeholder="Enter User email" name="email" ngModel>
                    <input class="form-input" type="text" placeholder="Enter User address" name="address" ngModel>
                    <input class="form-input" type="text" placeholder="Enter contact detail" name="contact" ngModel>
                    <button class="form-button">Order now</button>
                </form>
            </div>
        </div>
       
    <div class="col-sm-5">
        <h3>Total Amount: {{totalPrice}}</h3>
        <h4>Payment Method: <b>Cash On delivery</b></h4>

    </div>
</div>
</div>
