
<div class="user-auth">
    <div class="user-signup" *ngIf="!showLogin">
        <h1>User SignUp</h1>
    <form class="singup-form" #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)">
      <input class="form-input" type="text" placeholder="Enter User name" name="name" ngModel>
      <input class="form-input" type="email" placeholder="Enter User email" name="email" ngModel>
      <input class="form-input" type="password" placeholder="Enter User password" name="password" ngModel>
      <button class="form-button">Sign Up</button>
      <a (click)="openLogin()">Already have account? Click to login </a>
    </form>
    </div>
    <div class="user-login" *ngIf="showLogin">
        <h1>User LogIn</h1>
        <p class="auth-error"><span>{{loginError}}</span></p>
    <form class="login-form" #userLogIn="ngForm" (ngSubmit)="logIn(userLogIn.value)">
      <input class="form-input" type="email" placeholder="Enter User email" name="email" ngModel #email="ngModel" required email>
      <p class="invalid-input"><span class="error-message" *ngIf="email.invalid && email.touched">*Please enter a valid value</span></p>
      <input class="form-input" type="password" placeholder="Enter User password" name="password" ngModel #password="ngModel" required minlength="2" maxlength="20">
      <p class="invalid-input"><span class="error-message" *ngIf="password.invalid && password.touched">*Please enter a valid value</span></p>
      <button [disabled]="userLogIn.invalid" class="form-button">Log In</button>
      <a (click)="openSignIn()">Don't have account? Click to signup </a>
    </form>
    </div>
</div>
