/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
}

.container {
    margin-left: 1%;
    margin-right: 1%;
}

.singup-form {
    text-align: center;
    display: flex;
    margin: auto auto;
    flex-direction: column;
    width: 300px;
}

.login-form {
    text-align: center;
    display: flex;
    margin: auto auto;
    flex-direction: column;
    width: 300px;
}

.add-new-product {
    text-align: center;
    display: flex;
    margin: auto auto;
    flex-direction: column;
    width: 300px;
}

.form-input {
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;

}

textarea {
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;
    max-width: 100%;
}

.form-button {
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
    width: auto;
    margin-right: 10px;
    box-shadow: 2px 6px 4px rgba(0, 0, 0, .2);
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.form-button:hover {

    background-color: blueviolet;
    color: white;
    box-shadow: 2px 8px 6px rgba(0, 0, 0, .3);
    transform: scale(1.05);
}

.icon {
    padding: 20px;
    margin: auto auto;
}

.carousel-caption {
    background-color: #00000082;
    border-radius: 5px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border-radius: 5px;
}
.invalid-input{
    color:red;
    margin-top: -20px;
    text-align: left;
}
button:disabled{
    cursor: not-allowed;
}
.auth-error{
    text-align: left;
    color: red;
}